<h1>Listing Invites</h1>

<!-- IMPLEMENT
<%= form_tag("/invites", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
-->

<div id="InviteTools">
  <br>
  <%= link_to 'New Invite', new_invite_path %>
  <br><br>

  <%= radio_button_tag(:filter, "all", checked:true) %>
  <%= label_tag "Show All" %><br>
  <%= radio_button_tag(:filter, "yes") %>
  <%= label_tag "Show Yes Only" %><br>
  <%= radio_button_tag(:filter, "no" ) %>
  <%= label_tag "Show No Only" %><br>
  <%= radio_button_tag(:filter, "nr") %>
  <%= label_tag "Show Non-Responders Only" %><br><br>

  <br>

  <div id="NumberSelected">
  </div>

  <br>

  <%= link_to 'Show Selected', selected_path %> 
</div>

<table>
  <thead>
    <tr>
      <th>User ID</th>
      <th>User name</th>
      <th>Email</th>
      <th>Answer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @invites.each do |invite| %>
      <% case invite.answer %>
      <% when "Yes" %>
        <tr class="invite ans_yes">
      <% when "No" %>
        <tr class="invite ans_no">
      <% else %>
        <tr class="invite ans_nr">
      <% end %>

        
        <td><%= invite.user_id %></td>
        <td><%= invite.user_name %></td>
        <td><%= invite.email %></td>
        <td><%= invite.answer %></td>
        <td><%= link_to 'Show', invite %></td>
        <td><%= link_to 'Edit', edit_invite_path(invite) %></td>
        <td><%= link_to 'Destroy', invite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= check_box_tag "selected_ids[]", invite.id, false, :id => "selected_ids_#{invite.id}", :class => "selectable" %></td> 

      </tr>
    <% end %>
  </tbody>
</table>
