<% if @blacklist.is_invited %>
  <div class="warning_color">
<% else %>
  <div>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @blacklist.user_id %>
</p>

<p>
  <strong>User name:</strong>
  <%= @blacklist.user_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @blacklist.email %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @blacklist.reason %>
</p>

</div>
<br>
<%= link_to 'Edit', edit_blacklist_path(@blacklist), class: "button" %>
<%= link_to 'Back', blacklists_path, class: "button" %>
