<!DOCTYPE html>
<html>
<head>
  <title>AmbassadorAdminTools</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="Background">

<div id="Header">
  <%= image_tag "logo-small.png", id: "SiteLogo" %>
  <h2>Couchsurfing Ambassador Administraion Tool</h2>
  <div id="WelcomeLink"><%= link_to 'Back to Welcome', welcome_index_path, :class => "button" %></div>
</div>

<div id="ContentBox">
  <%= yield %>
</div>

</body>
</html>
