<!DOCTYPE html>
<html>
<head>
  <title>AmbassadorAdminTools</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="SiteTools">
  <h3>Site Tools:</h3>
  <%= link_to 'Back to Welcome', welcome_index_path %>
</div>

<%= yield %>

</body>
<%= javascript_include_tag(:application) %>
</html>
